.card-create{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.card-create > .card-create-add{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    line-height: 20px;
    font-size:38px;
    text-align: center;
    color: #fff;
}
.card-create > .card-create-text{
    font-size: 12px;
    line-height: 30px;
}
